<div class="flx">
    {{#each dbArticle }}

    <div class="itm">
        <h3>Titre: {{ this.title }}</h3>
        <img src="{{ imgArticle }}" style="heigth: 150px; width: 150px">
        <form action="/article/{{ this._id }}/?_method=DELETE" method="post">
            <button type="submit">Effacer</button>
        </form>
    </div>

    {{/each }}
</div>