<div class="flx">
    {{#each dbArticle }}

    <div class="itm">
        <h3>Titre: {{ this.title }}</h3>

        {{#each galleryImg}}
        <img src="{{ filename}}" style="heigth: 150px; width: 150px">

        {{/each }}

        <form action="/article/{{ this._id }}/?_method=DELETE" method="post">
            <button type="submit">Effacer</button>
        </form>
    </div>

    {{/each }}
</div>