<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DropZone</title>

    {{!-- Utilisation autre CSS par CDN--}}
    {{!-- /////////////////////////////////// --}}
    {{!-- CDN icon fontawesome CSS --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {{!-- CDN dropzonejs CSS --}}
    {{!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css"> --}}

    {{!-- CDN cropperjs CSS --}}
    {{!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.css"
        integrity="sha512-949FvIQOibfhLTgmNws4F3DVlYz3FmCRRhJznR22hx76SKkcpZiVV5Kwo0iwK9L6BFuY+6mpdqB2+vDIGVuyHg=="
        crossorigin="anonymous" /> --}}
    {{!-- /////////////////////////////////// --}}


    {{!-- Utilisation autre CSS en local--}}
    {{!-- /////////////////////////////////// --}}

    <link rel="stylesheet" href="/assets/modules/dropzone/dropzone.min.css">

    {{!-- Local cropperjs CSS --}}

    <link rel="stylesheet" href="/assets/modules/cropper/cropper.css">
    {{!-- /////////////////////////////////// --}}

    {{!-- CSS maison--}}
    {{!-- /////////////////////////////////// --}}
    <link rel="stylesheet" href="/assets/css/style.css">
    {{!-- /////////////////////////////////// --}}

</head>

{{!-- Utilisation autres scripts js par CDN--}}
{{!-- /////////////////////////////////// --}}
{{!-- CDN dropzonejs script--}}
{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script> --}}

<!-- CDN cropperjs script -->
{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.js"
    integrity="sha512-oqBsjjSHWqkDx4UKoU+5IUZN2nW2qDp2GFSKw9+mcFm+ZywqfBKp79nfWmGPco2wzTWuE46XpjtCjZ9tFmI12g=="
    crossorigin="anonymous"></script> --}}
{{!-- /////////////////////////////////// --}}

{{!-- Utilisation autres scripts js en local--}}
{{!-- /////////////////////////////////// --}}
{{!-- Local dropzonejs script--}}
<script src="/assets/modules/dropzone/dropzone.min.js"></script>

{{!-- Local cropperjs script--}}
<script src="/assets/modules/cropper/cropper.js"></script>
{{!-- /////////////////////////////////// --}}

<body>