a {
    text-decoration: none;
}

.flx {
    display: flex;
}

.itm {
    padding: 10px;
}

.btn {
    background-color: blue;
    border: white;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#preview {
    width: 100px;
    display: inline-block;
}

#preview img {
    display: block;
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    min-height: 5px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    padding: 5px;
    color: black;
    background-color: white;
    background-clip: padding-box;
    border: 2px solid blue;
    appearance: none;
}

.dropzoneArea {
    border: 2px dashed grey;
}

.spanTitle {
    color: black;
    font-size: 20px;
    background-color: red;
}

.files-area-attachmentMultiple {
    display: inline-flex;
    width: 100%;
}

.file-block-attachmentMultiple {
    border-radius: 10px;
    margin: 5px;
    color: initial;
    display: inline-flex;
}

.name-file-attachmentMultiple {
    font-weight: bold !important;
    font-size: small;
    padding-right: 3px;
    width: max-content;
    display: inline-flex;
    align-self: center;
}

.type-file-attachmentMultiple {
    padding-left: 3px;
    font-size: small;
    width: max-content;
    display: inline-flex;
    align-self: center;
    font-weight: normal !important;
}

.file-delete-attachmentMultiple {
    align-self: center;
    margin-right: 3px;
    opacity: 0.6;
    cursor: pointer;
}

.file-delete-attachmentMultiple :hover {
    color: #dc3545 !important;
    border-radius: 10px;
}

.src-file-attachmentMultiple {
    padding-left: 3px;
    width: auto;
    height: 30px;
    display: inline-flex;
    align-self: center;
}
